html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
}

body {
	flex: 1;
	flex-flow: column;
	display: flex;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

.container,
#preview,
#navigation,
#types {
	outline: 2px solid blue;
	display: flex;
}

.container {
	flex: 1;
	flex-direction: row;
}

#navigation,
#types {
	flex-direction: column;
	min-width: 200px;
}

#preview {
	flex: 1;
	flex-direction: column;
	overflow: auto;
}

#preview .entry {
	white-space: pre-line;
}
